:root {

/* 
#FFBA08 orange
#FE5D26 
#7EBC89
#222823 vert 
#7B0D1E
#7C6A0A
442500
212119
FFD3A0
*/
    --image: url('./assets/img/fonds/fondhaut.png');
    --image-s: url('./assets/img/fonds/fondbas.png');
    --image-sb: url('./assets/img/fonds/fondsbot.png');
    
    --color-bg-fond:#feffe5;
    --color-wh-black:#fff;
    --color-p : #FF4600;
    --color-1: #CC980C;
    --color-2: #4A1E0D;

    --color-orange:#FF4600;
    --color-sep:#000;

    --color-yellow:#F4E868;
    --color-yellow1:#CC980C;

    --color-red:#822003;
    --color-sep:#555;


    --size-text: 1.5rem;
    --size-title-1: 3.6rem;
    --size-title-2: 3.6rem;
    --size-title-3: 2.4rem;

    --line-height: 2.0rem;

    --color-sidebar-bg: #2e2b2b;
    --sidebar-item-hover: #38a169;
    --sidebar-item-active: #276749;
    --color-menu-link: #0c6588;

    --color-bg-btn: #FF4600;
    --color-hover:#555;
    --color-border-btn:#ff4600;
    --color-hover-bg:#CC980C ;
    --color-hover-border-btn:#CC980C;
    --color-hover-btn:#ff4600;


    --color-h1:#ff4600;
    --color-hover-h1:#CC980C; 
    --color-title: #333;
    --color-text: #555;
    --color-link: #0c6588;
    --color-link-hover: #111;
    --color-menu: #e2f7ff;

    --border-sm: 1px solid #eee;
    --border-md: 1px solid #ddd;
    --border-lg: 2px solid #ccc;
}

/* *****************************************************************
THEMES / OPTIONS
***************************************************************** */

[data-mode="dark"] {
    --image: url('./assets/img/fonds/fondhaut.png');
    --image-s: url('./assets/img/fonds/fondbas.png');
    --image-sb: url('./assets/img/fonds/fondsbot.png');

    --color-sidebar-bg: #000000;
    --sidebar-item-hover: #38a169;
    --sidebar-item-active: #276749;
    --color-menu-link: #0c6588;

    --color-bg-body: #eee;
    --color-bg-main: #fff;

    --color-title: #333;
    --color-text: #555;
    --color-link: #0c6588;
    --color-link-hover: #111;
    --color-menu: #e2f7ff;

    --border-sm: 1px solid #eee;
    --border-md: 1px solid #ddd;
    --border-lg: 2px solid #ccc;
}