:root {

/* 
#FFBA08
#FE5D26
#7EBC89
#222823
#7B0D1E
#7C6A0A
*/
    --color-p : #FF4600;
    --color-bg-: #CC980C;
    --color-bg-: #4A1E0D;


    --size-text: 1.5rem;
    --size-title-1: 3.6rem;
    --size-title-2: 3.6rem;
    --size-title-3: 2.4rem;

    --line-height: 2.0rem;

    --color-sidebar-bg: #2e2b2b;
    --sidebar-item-hover: #38a169;
    --sidebar-item-active: #276749;
    --color-menu-link: #0c6588;

    --color-bg-body: #ffffff;
    --color-bg-main: #fff;

    --color-title: #333;
    --color-text: #555;
    --color-link: #0c6588;
    --color-link-hover: #111;
    --color-menu: #e2f7ff;

    --border-sm: 1px solid #eee;
    --border-md: 1px solid #ddd;
    --border-lg: 2px solid #ccc;
}

/* *****************************************************************
THEMES / OPTIONS
***************************************************************** */

[data-mode="dark"] {
    
    --color-sidebar-bg: #000000;
    --sidebar-item-hover: #38a169;
    --sidebar-item-active: #276749;
    --color-menu-link: #0c6588;

    --color-bg-body: #eee;
    --color-bg-main: #fff;

    --color-title: #333;
    --color-text: #555;
    --color-link: #0c6588;
    --color-link-hover: #111;
    --color-menu: #e2f7ff;

    --border-sm: 1px solid #eee;
    --border-md: 1px solid #ddd;
    --border-lg: 2px solid #ccc;
}