
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 992px;
$mobile-breakpoint: 768px;



:root {

    --image: url('./assets/img/fonds/fondhaut.png');
    --image-s: url('./assets/img/fonds/fondbas.png');
    --image-sb: url('./assets/img/fonds/fondsbot.png');
    --bg: url('./assets/img/fonds/bgc.png');
    
    --color-bg-fond:#feffe5;
    --color-wh-black:#fff;
    --color-p : #FF4600;
    --color-1: #CC980C;
    --color-2: #4A1E0D;

    --color-orange:#FF4600;
    --color-sep:#000;

    --color-yellow:#F4E868;
    --color-yellow1:#CC980C;

    --color-red:#822003;
    --color-sep:#555;
    

    /*
    form
    */

    --color-border-form: rgba(251, 183, 57, 0.478);
    /* Text */
    --size-text: 1.5rem;
    --size-title-1: 3.6rem;
    --size-title-2: 3.6rem;
    --size-title-3: 2.4rem;

    --line-height: 2.0rem;

    /* sidebar */

    --sidebar-test-bg:#fcd4a4;
    --color-sidebar-bg: #2e2b2b;
    --sidebar-item-hover: #664c03;
    --sidebar-item-active: #CC980C;
    --color-sidebar-icon: #FFD3A0;
    --color-sidebar-icon-bg:#feffe5;
    
    /* btn*/
    --color-bg-btn: #FF4600;
    --color-hover:#555;
    --color-border-btn:#ff4600;
    --color-hover-bg:#CC980C ;
    --color-hover-border-btn:#CC980C;
    --color-hover-btn:#ff4600;

    /* Color text */

    --color-h1:#ff4600;
    --color-h2: #333;
    --color-hover-h1:#CC980C; 
    --color-title: #333;
    --color-text: #333;
    --color-link: #0c6588;
    --color-link-hover: #111;
    --color-menu: #e2f7ff;
    --color-link:#FF4600;

    --border-sm: 1px solid #eee;
    --border-md: 1px solid #ddd;
    --border-lg: 2px solid #ccc;
}

/* *****************************************************************
THEMES / OPTIONS
***************************************************************** */

[data-mode="dark"] {
    --image: url('./assets/img/fonds/fondhautdark.png');
    --image-s: url('./assets/img/fonds/fondsbasdark.png');
    --image-sb: url('./assets/img/fonds/fondsbottom.png');
    --bg: url('./assets/img/fonds/bg.png');


    --color-border-form: rgba(251, 183, 57, 0.478);

    --color-bg-fond: transparent;
    --color-sidebar-bg: #000000;
    --sidebar-item-hover: #664c03;
    --sidebar-item-active: #CC980C;
    --color-sidebar-icon: #FFD3A0;
    --color-sidebar-icon-bg: #feffe5;
/* btn*/
    --color-bg-btn: #CC980C;
    --color-hover: #555;
    --color-border-btn: #CC980C;
    --color-hover-bg: #ff4600;
    --color-hover-border-btn: #ff4600;
    --color-hover-btn: #CC980C;

    --color-bg-body: #eee;
    --color-bg-main: #fff;

    --color-title: #333;
    --color-text: #ffd3a0;
    --color-link: #FFD3A0;
    --color-link-hover: #111;
    --color-menu: #e2f7ff;

    --border-sm: 1px solid #eee;
    --border-md: 1px solid #ddd;
    --border-lg: 2px solid #ccc;
}